<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Liste des articles</ion-title>
    </ion-toolbar>
  </ion-header>


  

    <ion-card *ngIf="sacs">
      <ion-item *ngFor="let sac of sacs">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-card-header>
                <ion-card-subtitle>{{sac.model}}</ion-card-subtitle>
                <ion-card-title>{{sac.marque}}</ion-card-title>
              </ion-card-header>
              
            </ion-col>
           <ion-col size="6"> 
            <ion-card-content>
              <img [src]="sac.image">
            </ion-card-content>
           </ion-col>
            <ion-col size="1" >
              <ion-content >
                <ion-fab class="barre" vertical="center" horizontal="center" slot="fixed">
                  <ion-fab-button color="danger">
                    <ion-icon name="add"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-list side="start">
                    <ion-fab-button>
                      <ion-icon name="cart" (click)="ajouter(sac.id)"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button>
                      <ion-icon name="heart" (click)="ajoutFavori(sac.id)"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button>
                      <ion-icon name="eye" routerLink='/detail/{{sac.id}}'></ion-icon>
                    </ion-fab-button>
                  </ion-fab-list>
                </ion-fab>
              </ion-content>
      
            </ion-col>
          </ion-row>
       
        

        
  </ion-grid>
       
       
      </ion-item>

    </ion-card>

</ion-content>